/*Body*/
body{    
	font-family: 'Roboto', sans-serif;
    background: #d9dddc;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body[role="login"]{    
	font-family: 'Roboto', sans-serif;
    background: #d9dddc url(../images/O71VEH0.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
}
/*login*/
.center-div{
    width: 100%;
    max-width: 600px;
    padding: 8% 0 0;
    margin: auto;
}
.panel-login{
   background: #fff;
       opacity: .7;
    -webkit-box-shadow: 0px 7px 24px 1px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 7px 24px 1px rgba(0,0,0,0.45);
    box-shadow: 0px 7px 24px 1px rgba(0,0,0,0.45);
    border-radius: 0.2em;
}

/*button*/
.school-button {
  background-color: #4FC1E9 !important;
  text-transform: none !important;
}

/*viewport*/
 header, main, footer {
      padding-left: 240px;
    }

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }