

.botones {
    font-family: inherit;
    font-weight: 400;
    padding: 4px 7px;
    font-size: 13px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f6f4', endColorstr='#cccccc',GradientType=0);
    background-color: #f7f6f4;
    box-shadow: 0px 0px 3px #666;
    border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #797979;
    color: #000;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
}

.botones:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e8f6fd), color-stop(1, #a9dbf6));
    background: -moz-linear-gradient(top, #e8f6fd 5%, #a9dbf6 100%);
    background: -webkit-linear-gradient(top, #e8f6fd 5%, #a9dbf6 100%);
    background: -o-linear-gradient(top, #e8f6fd 5%, #a9dbf6 100%);
    background: -ms-linear-gradient(top, #e8f6fd 5%, #a9dbf6 100%);
    background: linear-gradient(to bottom, #e8f6fd 5%, #a9dbf6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8f6fd', endColorstr='#a9dbf6',GradientType=0);
    background-color: #e8f6fd;
    border: 1px solid #3c7fb1;
    box-shadow: 0px 0px 3px #a9dbf6;
    cursor: pointer;
}

/*Validaciones */
.Highlight{ background-color:#ffffd7; border:1px solid Black; z-index:200;}
.CustomValidatorCalloutStyle div, .CustomValidatorCalloutStyle td { 
    border:solid 1px Orange; background-color: #ffffd7; z-index:200;}

/** TextBox **/
.TextBox        {outline:0 none; font-size:15px; border:1px #aaaaaa solid; border-radius:4px; padding: 2px;
                 font-family: inherit; margin-right: 0px;
}
.TextBox:focus  {-webkit-box-shadow: 0px 0px 5px #0C87DA;-moz-box-shadow: 0px 0px 5px #0C87DA; box-shadow: 0px 0px 5px #0C87DA;} 
.TextBox2        {outline:0 none; font-size:14px; border:1px #aaaaaa solid; padding: 2px;
                 font-family: inherit; margin-right: 0px;
}
.TextBox2:focus  {-webkit-box-shadow: 0px 0px 5px #0C87DA;-moz-box-shadow: 0px 0px 5px #0C87DA; box-shadow: 0px 0px 5px #0C87DA;} 

.TextWater { outline:0 none; font-family: inherit; font-size:15px; border:1px #9E9E9E solid; border-radius:4px; padding: 2px;
    margin-right: 0px; color:#ccc}
.WaterTextBox        {outline:0 none; font-size:15px; border:1px #9E9E9E solid; border-radius:4px; padding: 2px; color:#ccc; text-align:center}
.WaterTextBox:focus  {-webkit-box-shadow: 0px 0px 5px #0C87DA;-moz-box-shadow: 0px 0px 5px #0C87DA; box-shadow: 0px 0px 5px #0C87DA;} 

.TextBoxInscripcion        
{outline:0 none; font-family: inherit; font-size:15px; border:1px #aaaaaa solid; border-radius:4px; padding: 5px 3px; margin-right: 0px;
}
.TextBoxInscripcion:focus  {-webkit-box-shadow: 0px 0px 5px #0C87DA;-moz-box-shadow: 0px 0px 5px #0C87DA; box-shadow: 0px 0px 5px #0C87DA;} 
.TextWaterInscripcion { outline:0 none; font-family: inherit; font-size:15px; border:1px #9E9E9E solid; border-radius:4px; padding: 5px 3px;
    margin-right: 0px; color:#ccc}

.btn{
    border-radius:5px; 
    -moz-border-radius:5px;     
    box-shadow: 0px 0px 3px #666; 
    padding:4px 7px; font-size:12px;
    text-decoration:none;    
    font-family: inherit;
    font-weight:400;    
    text-align:center;white-space:nowrap;
    vertical-align:middle;
    cursor:pointer;
    -webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;
    background-image:none;
    border:1px solid transparent;  
    letter-spacing:0.5px;  
    white-space: nowrap;
}
.btn-danger{
    color:#fff;    
    background-color:#DF4B46;
    border-color:#d43f3a;
}
.btn-danger:hover{
    background-color:#c9302c;
}
.btn-success{
    color:#fff;    
    background-color:#3DAA3D;
    border-color:#2C972C;
}
.btn-success:hover{
    background-color:#3d8e3d;
}
.btn-primary{
    color:#fff;    
    background-color:#428bca;
    border-color:#357ebd
}
.btn-primary:hover{
    background-color:#3071a9;
}
.borderight{
    border-right:1px solid #9E9E9E;
}
/*SCROLLBAR - Para Chrome y Opera*/
::-webkit-scrollbar {
    width: 17px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

/*Css Styles For Word Wheel*/
/*AutoComplete flyout */
.completionList {
border:solid 1px #ccc;
margin:0px;
padding:2px;
height: 100px;
overflow:auto;
background-color: #FFFFFF;
font-size:14px;
z-index:10000000;
}

.listItem {
color: #1C1C1C;
z-index:10000000;
}

.itemHighlighted {
background-color: #0399e1;
color:#fff;
cursor:pointer;
z-index:10000000;
}
.PanelImpresion{width:100%; font-family:Courier New;font-size: 11pt; background: #fff !important;color: #000 !important;}

.iframeSitios
{
    width:100%; min-height:100%; min-height:500px; height:735px; margin-top:-18px; border:0px;
}
#MainContent_AutoCompleteExtender1_completionListElem {
    margin: 0;
}

#MainContent_AutoCompleteExtender1_completionListElem li {
    list-style: none;
    margin: 0;
}


.mGridEvaluacion {   
    font-family: inherit;
    /*width: 100%;*/      background-color: #fff;      margin: 5px 0 10px 0;       border: solid 0px #525252;       border-collapse:collapse; color: #000;  
}  
.mGridEvaluacion td {   
    border: solid 1px #c1c1c1;         font-size:13px; padding: 0px 2px;     
}  
.mGridEvaluacion .tdestudiante {   
    border: solid 1px #c1c1c1;   font-size:13px; padding: 0px 4px;    /*white-space:nowrap;*/ width:380px; 
}
.mGridEvaluacion .tdnotas {   
    border: solid 1px #c1c1c1;   font-size:13px; padding: 0px 5px;    white-space:nowrap; text-align:center
}
.mGridEvaluacion .tdobservaciones {   
    border: solid 1px #c1c1c1;   font-size:13px; padding: 0px 2px;    white-space:nowrap; 
}
.mGridEvaluacion .tdnotasdim {   
    border: solid 1px #c1c1c1;   font-size:13px; padding: 0px 5px;    white-space:nowrap; text-align:center; width:70px;
}
.mGridEvaluacion th {   
    padding: 4px 4px;       color: #fff;       /*background: #507cd1 url(grd_head.png) repeat-x top;   */
    font-size: 0.9em;   /*border-left:1px solid #ccc;*/ border-right:1px solid #ccc
} 
.mGridEvaluacion .th1 {   
    background: #507cd1;   
}  
.mGridEvaluacion .th2 {   
    background: #1C418A;     
}  
.mGridEvaluacion .th3 {   
    background: #507cd1;   
} 
.mGridEvaluacion .thTotal {   
    background: #E20000;   padding:0px 3px;
    color: #fff;   text-align:center;
} 
.mGridEvaluacion tr:hover {   
    background-color: #eff3fb;        
} 
.mGridEvaluacion .tdTotalSubProceso {   
    background: #1C418A;   padding:0px 3px;
    color: #fff;   text-align:center;
} 
.mGridEvaluacion .tdTotalProceso {   
    background: #507cd1;   padding:0px 3px;
    color: #fff;    text-align:center;
} 
.mGridEvaluacion .tdTotal {   
    background: #E20000;   padding:0px 3px;
    color: #fff;   text-align:center;
} 
.mGridEvaluacion .alt { background: #fcfcfc url(grd_alt.png) repeat-x top; }  
.mGridEvaluacion .pgr { background: #424242 url(grd_pgr.png) repeat-x top; }  
.mGridEvaluacion .pgr table { margin: 5px 0; }  
.mGridEvaluacion .pgr td {   
    border-width: 0;       padding: 0 6px;       border-left: solid 1px #666;       font-weight: bold;       color: #fff;     line-height: 12px;   
 }     
.mGridEvaluacion .pgr a { color: #666; text-decoration: none; }  
.mGridEvaluacion .pgr a:hover { color: #000; text-decoration: none; }


.mGridTesoreria {   
    background-color: #fff;      margin: 5px 0 10px 0;       border: solid 0px #ccc;       border-collapse:collapse; color: #000;  margin:0 auto;
}  
.mGridTesoreria th {   
    padding: 3px 4px;       color: #fff;       background: #507cd1 url(grd_head.png) repeat-x top;   
    font-size: 15px;   border-left:1px solid #ccc; border-right:1px solid #ccc; border-bottom:3px solid #dddddd;   
} 
.mGridTesoreria tr:hover {   
    background-color: #eff3fb;        
} 
.mGridTesoreria td {   
    border: solid 1px #c1c1c1;         font-size:14px; padding: 1px 4px;     
}   
.mGridTesoreria .alt { background: #fcfcfc url(grd_alt.png) repeat-x top; }  
.mGridTesoreria .pgr { background: #424242 url(grd_pgr.png) repeat-x top; }  
.mGridTesoreria .pgr table { margin: 5px 0; }  
.mGridTesoreria .pgr td {   
    border-width: 0;       padding: 0 6px;       border-left: solid 1px #666;       font-weight: bold;       color: #fff;     line-height: 12px;   
 }     
.mGridTesoreria .pgr a { color: #666; text-decoration: none; }  
.mGridTesoreria .pgr a:hover { color: #000; text-decoration: none; }


.mGridNotas {   
    background-color: #fff;      margin: 5px 0 10px 0;       border: solid 0px #525252;       border-collapse:collapse; color: #000;  margin:0 auto;
}  
.mGridNotas th {   
    padding: 3px 4px;       color: #fff;       background: #507cd1 url(grd_head.png) repeat-x top;   
    font-size: 15px;   border-left:1px solid #ccc; border: solid 1px #c1c1c1; 
} 
.mGridNotas td {   
    border: solid 1px #c1c1c1;         font-size:14px; padding: 2px 4px;     
}   
.mGridNotas .alt { background: #fcfcfc url(grd_alt.png) repeat-x top; }  
.mGridNotas .pgr { background: #424242 url(grd_pgr.png) repeat-x top; }  
.mGridNotas .pgr table { margin: 5px 0; }  
.mGridNotas .pgr td {   
    border-width: 0;       padding: 0 6px;       border-left: solid 1px #666;       font-weight: bold;       color: #fff;     line-height: 12px;   
 }     
.mGridNotas .pgr a { color: #666; text-decoration: none; }  
.mGridNotas .pgr a:hover { color: #000; text-decoration: none; }

.cajafiltro 
{
    background-color:#e6e6e6;
    border:1px solid #d5d5d5;
    border-radius:5px;
    -moz-border-radius:5px;
    padding:0px;
    border-spacing:5px;
    margin:2px 0 8px;    
}
.cajafiltroCentrado
{
    background-color:#e6e6e6;
    border:1px solid #d5d5d5;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    padding:0px;
    border-spacing:5px;
    margin:2px auto 8px;    
}
.cajafiltroCentrado .primeracolumna{
    background-color:#d8d8d8;
    font-weight:bold;
}


 .modalBackground
{
    /*background-color: #223a6a;  */filter: alpha(opacity=70);    opacity: 0.5;    -moz-opacity: 0.7;
    /*background-color:rgba(186, 186, 187, 0.56);*/
    background-color:rgba(3, 3, 3, 0.56);
    
}
.modalPopup
{
    z-index:100;
    position:relative;
    /*border:solid 5px gray; */   background-color: #FFFFFF;    
    /*border:solid 5px rgba(153, 153, 153, 0.72);*/
    border:solid 5px rgba(235, 77, 64, 1);
    border-radius:10px;
    box-shadow: 0px 0px 5px #000;  
    font-family: inherit;
    min-width:300px;      
    max-width:850px;  
    min-height:230px;
    max-height:600px; 
    overflow-y:auto;
}
.headerpopup {
    color:#000;
    background-color: #DBDBDB;
    padding:8px 10px 13px 15px;
    height:20px;
    font-size:16px;


    border-top-left-radius:5px;
    border-top-right-radius:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;

    border-bottom: 1px solid #c1c1c1; 
}
.sectionpopup {
    padding:8px 10px 13px 15px;
    min-height:125px;
  
}
.footerpopup {
    border-top: 1px solid #c1c1c1; 

    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;

    background-color: #DBDBDB;
    padding:8px 10px 13px 15px;
    height:20px;
    
}
legend 
{
    font-family: inherit;
    font-size: 12px;
    font-weight:normal;
    font-style:oblique;
    padding: 2px 4px 4px 4px;
    margin-bottom: 0px;
    height:auto;
}
fieldset {
    font-family: inherit;
    padding: 10px;
    border: 1px solid #ccc;
}

/*Mensaje de alerta*/
.error, .exito  {  font-size:15px; text-align:center;border: 4px solid;width: 350px; 
                    font-weight:600;padding:10px 10px; position:fixed;top:50% ;left:40%;z-index:10000000999;
                    border-radius:10px;background-repeat: no-repeat;}
.exito      {color: #4F8A10;background-color: #DFF2BF;border-color:rgba(79, 138, 16, 0.54); }
.error      {color:#D8000C;background-color:#FFBABA; border-color:rgba(255, 0, 0, 0.59);}

.mensajeusuario
{
    display:block;
    position:fixed;top:56px ;right:2px; border-radius:5px;
    padding:10px 10px; font-size:14px;
    color: #0050a0;background-color: #e6e6e6;
    border-color:rgba(79, 138, 16, 0.54);border: 1px solid;width: 400px; 
}
.mensajeusuario2
{
    display:none;
}
.img     {margin-left:5px; border:none;}
.clear  {clear:both;}

.ocultarcell{display:none;}