@font-face {
    font-family:'Open Sans';
   src: url('../Fonts/OpenSans-Regular.ttf'); 
}
body {

}
.top
{
    position:fixed;
    top:0;
    right:0;
    left:0;
    z-index:10;
    height:55px;
    font-size:14px;
    color:#fff;    
    display:inline-block;
    background-color:#56C7EA;
    /*background-image:url(../Imagenes/top.png);*/
    /*background-repeat: repeat-x;*/
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.top_content
{    
    min-width:1004px;    
    padding:0px 0 0 20px;    
    margin:0 auto;    
}
/*MENU*/
.icono
{
    position: absolute;
    right: 7px;top: 7px;cursor: pointer;  
    display: inline-block;vertical-align: middle;background-image: url('../iconos.png');
    background-repeat: no-repeat;text-decoration: none;  background-position: 0 -105px;
}
.top_menu
{    
     cursor: pointer;  
     display: inline-block;
     width:90px;
     height:55px;   
     float:left;       
     margin:0px 7px 0px -20px;
     background-repeat: no-repeat;
     background-image: url('../Imagenes/header-menu.png');        
}
.top_logo
{
    font-family: 'Open Sans', sans-serif;
    width:430px;    
    height:55px;
    float:left;    
    /*padding:0 0 4px 0;*/
    /*background: url('../Imagenes/header-escudo.png') no-repeat;  */
}
.top_usuario
{
    /*background-color:#0E7088;*/
    float:right;
    /*line-height: 55px;*/       
}
.top_usuario:hover{
    cursor:pointer;
    /*opacity:0.9;*/
    /*background-color:#0E7088;*/
}
.top_usuarioname{
    display: inline-block;
    vertical-align: top;
    /*line-height: 55px;*/
    margin-left:10px;
    margin-right:10px;
    margin-top:10px;
    min-width:150px;
    text-align:right;
    text-rendering:optimizeLegibility;
}

/*MENU   -    MENU    -     LEFT */
.cm-sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 9;
	width: 255px;
	border-right: 1px solid rgba(0,0,0,0.1);
	background-color:#e4e4e4;
}

.cm-sidebar-header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height:0;
	/*padding: 20px 30px;*/
	border-bottom: 1px solid rgba(0,0,0,0.1);
    /*background-color:rgb(238, 247, 14);*/
}

.cm-sidebar-content {
	position: absolute;
	top: 55px;
	bottom: 0px;
	left: 0;
	right: 0;
	/*padding: 1px 0px 0px 1px;*/
	overflow-y: scroll;
    overflow-x: hidden;
    /*background-color:rgb(0, 148, 246);*/
}
.cm-sidebar-content {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.cm-sidebar-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 90px;
	padding: 0px 30px 0px 30px;
	border-top: 1px solid rgba(0,0,0,0.1);
    /*background-color:rgb(255, 0, 0);*/
}
.left
{
    margin-top:1px;
	margin-left:1px;
    background-color:#e4e4e4;
    float:left;
    position:fixed;
    min-height:90%;    
	border-radius:5px;	
	/*overflow:scroll;*/
    z-index:99999;
    width:269px;
}
.left2
{    
	display:none;
}
.medium{
    position:absolute;    
}

/*CONTENIDO   -    CONTENIDO*/
.content {    
    padding: 30px 15px 15px 15px;
    height:90%; 
    z-index:20;   
}
.content-con-menu {
    margin: 30px 0px 0px 270px;
}
.content-sin-menu {
    margin: 30px 0px 0px;   
}
#btnSesion2{font-family: 'Open Sans', sans-serif; font-weight:600; font-size: 11pt; background-color: transparent;text-decoration:none;}
#btnSesion2:hover{text-decoration:underline; cursor:pointer;}

/* all */
::-webkit-input-placeholder { color:#ccc; font-size:12px; }
::-moz-placeholder { color:#ccc; font-size:12px;  } /* firefox 19+ */
:-ms-input-placeholder { color:#ccc; font-size:12px; } /* ie */
input:-moz-placeholder { color:#ccc; font-size:12px; }

.notifi ul{

}