@font-face {
   font-family: 'Source Sans Pro';
   src: url('../Fonts/SourceSansPro-Regular.ttf');
}
body{    
	
	background: #d9dddc url(../Imagenes/back-login.png) repeat-x;
	background-position:center;background-attachment:fixed; 
}

	
.azul1{
	width:340px;
	margin: 0 auto;
	background: rgba(49,130,150,1);
    background: -moz-linear-gradient(top, rgba(49,130,150,1) 0%, rgba(49, 130, 150,0.7) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(49,130,150,1)), color-stop(100%, rgba(49, 130, 150,0.7)));
    background: -webkit-linear-gradient(top, rgba(49,130,150,1) 0%, rgba(49, 130, 150,0.7) 100%);
    background: -o-linear-gradient(top, rgba(49,130,150,1) 0%, rgba(49, 130, 150,0.7) 100%);
    background: -ms-linear-gradient(top, rgba(49,130,150,1) 0%, rgba(49, 130, 150,0.7) 100%);
    background: linear-gradient(to bottom, rgba(49, 130, 150,1) 0%, rgba(49, 130, 150,0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#154194', endColorstr='#154194', GradientType=0 );
    text-align:center;
    padding:10px;
    font-family: 'Source Sans Pro';
    color:#FFF;
    font-weight:300;
    border-radius:7px;
}


.tablanube{
	width:90%;
	margin: 10% auto 0 auto;}
	
	
.campodetexto{
	background-color:#f2f2f2;
	width: 170px;
	height:25px;
	border-radius: 5px;
	color: #000;
	border:0px;
	padding:1px 4px;
	font-size:12pt;}
	
.boton{
	border-radius: 5px;
	text-align:center;
	color:#fff;
	height: 30px;	
	font-size:12pt;
	font-family: 'Source Sans Pro';
	font-weight:600;
	border:0px;
	cursor:pointer;
	background: rgba(49,130,150,1);
    background: -moz-linear-gradient(top, rgba(49,130,150,1) 0%, rgba(49,130,150,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(49,130,150,1)), color-stop(100%, rgba(49,130,150,1)));
    background: -webkit-linear-gradient(top, rgba(49,130,150,1) 0%, rgba(49,130,150,1) 100%);
    background: -o-linear-gradient(top, rgba(49,130,150,1) 0%, rgba(49,130,150,1) 100%);
    background: -ms-linear-gradient(top, rgba(49,130,150,1) 0%, rgba(49,130,150,1) 100%);
    background: linear-gradient(to bottom, rgba(49,130,150,1) 0%, rgba(49,130,150,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#154194', endColorstr='#021840', GradientType=0 );}
	
.boton:hover{
	border-radius: 7px;
	text-align:center;
	color:#fff;
	height: 30px;	
	border:0px;	
	background: rgba(49,130,150,1);
    background: -moz-linear-gradient(top, rgba(49,130,150,1) 0%, rgba(49,130,150,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(49,130,150,1)), color-stop(100%, rgba(49,130,150,1)));
    background: -webkit-linear-gradient(top, rgba(49,130,150,1) 0%, rgba(49,130,150,1) 100%);
    background: -o-linear-gradient(top, rgba(49,130,150,1) 0%, rgba(49,130,150,1) 100%);
    background: -ms-linear-gradient(top, rgba(49,130,150,1) 0%, rgba(49,130,150,1) 100%);
    background: linear-gradient(to bottom, rgba(49,130,150,1) 0%, rgba(49,130,150,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5ecc', endColorstr='#154194', GradientType=0 );
}	  

.mensaje{        
    margin: 5px auto 10px;
    font-size: 15px;
}