@font-face {
   font-family: 'Source Sans Pro';
   src: url('../Fonts/SourceSansPro-Regular.ttf');
}
@charset 'UTF-8';
/* Base Styles */
.imgMenu {
background-repeat:no-repeat;
padding-right:7px;
margin-left:-3px;
margin-bottom:-5px;
width:25px;
}
#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  line-height: 1;
  
  
  position: relative;
}
#cssmenu a {
  line-height: 1.3;
}
#cssmenu {
  width: 240px;
  /*background: #e4e4e4;*/
  /*-webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;*/
  padding: 0px;
  /*-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);*/
    /*height:400px;*/   /*VERIFICAR AQUIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII*/
  overflow: visible;
  
}
#cssmenu > ul > li {
  margin: 0 0 0px 0;
}
#cssmenu > ul > li:last-child {
  margin: 0;
}
#cssmenu > ul > li > a {
  font-size: 14px;
  display: block;
  color: #ffffff;

  /*text-shadow: 0 1px 1px #000;*/  
  background: #b7b7bc;
  /*border: 1px solid #000;*/
  -webkit-border-radius: 0px;
  -moz-border-radius:0px;
  /*border-radius: 5px;*/
}
#cssmenu > ul > li > a > span {
  display: block;
  /*border: 1px solid #666666;*/
  padding: 6px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
}
#cssmenu > ul > li > a:hover {
  text-decoration: none;
}
#cssmenu > ul > li.active {
  border-bottom: none;
}
#cssmenu > ul > li.active > a {
background: rgba(86, 199, 234,1);
background: -moz-linear-gradient(top, rgba(86, 199, 234,1) 0%, rgba(49,130,150,1) 35%, rgba(86, 199, 234,1) 92%, rgba(0,72,117,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(86, 199, 234,1)), color-stop(35%, rgba(49,130,150,1)), color-stop(92%, rgba(49,130,150,1)), color-stop(100%, rgba(0,72,117,1)));
background: -webkit-linear-gradient(top, rgba(86, 199, 234,1) 0%, rgba(49,130,150,1) 35%, rgba(86, 199, 234,1) 92%, rgba(0,72,117,1) 100%);
background: -o-linear-gradient(top, rgba(86, 199, 234,1) 0%, rgba(86, 199, 234,1) 35%, rgba(86, 199, 234,1) 92%, rgba(0,72,117,1) 100%);
background: -ms-linear-gradient(top, rgba(86, 199, 234,1) 0%, rgba(86, 199, 234,1) 35%, rgba(86, 199, 234,1) 92%, rgba(0,72,117,1) 100%);
background: linear-gradient(to bottom, rgba(86, 199, 234,1) 0%, rgba(86, 199, 234,1) 35%, rgba(86, 199, 234,1) 92%, rgba(0,72,117,1) 100%);

  color: #fff;
    /*border-radius:5px;*/
}
#cssmenu > ul > li.active > a span {
  border: 0px;
}
#cssmenu > ul > li.has-sub > a span {
  background: url(../Imagenes/images/icon_plus.png) 98% center no-repeat;
}
#cssmenu > ul > li.has-sub.active > a span {
  background: url(../Imagenes/images/icon_minus.png) 98% center no-repeat;
}
/* Sub menu */
#cssmenu ul ul {
  padding: 2px 10px;
  /*padding: 2px 2px 2px 4px;*/
  display:none; /*Aquiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii*/
}
#cssmenu ul ul li {
  /*padding: 3px 0;*/
  padding: 2px 0;
}
.inactivo{
    color: #3C3C3C;
}
.activo {
    color:#fff;
    text-shadow: 0 1px 0px #000;
    background: rgba(86, 199, 234,1);
    background: -moz-linear-gradient(top, rgba(86, 199, 234,1) 0%, rgba(86, 199, 234,1) 2%, rgba(49,130,150,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(86, 199, 234,1)), color-stop(2%, rgba(86, 199, 234,1)), color-stop(100%, rgba(86, 199, 234,1)));
    background: -webkit-linear-gradient(top, rgba(86, 199, 234,1) 0%, rgba(86, 199, 234,1) 2%, rgba(86, 199, 234,1) 100%);
    background: -o-linear-gradient(top, rgba(86, 199, 234,1) 0%, rgba(86, 199, 234,1) 2%, rgba(86, 199, 234,1) 100%);
    background: -ms-linear-gradient(top, rgba(86, 199, 234,1) 0%, rgba(86, 199, 234,1) 2%, rgba(86, 199, 234,1) 100%);
    background: linear-gradient(to bottom, rgba(86, 199, 234,1) 0%, rgba(86, 199, 234,1) 2%, rgba(86, 199, 234,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#339999', endColorstr='#0068ad', GradientType=0 );
    /*border-radius:5px;*/
    /*-moz-border-radius:5px;    */
}
#cssmenu ul ul a {
  display: block;
  /*color: #3C3C3C;*/
  font-size: 12px;
  font-weight: bold;
  padding:5px;
}
#cssmenu ul ul a:hover {
  color: #fff;
  text-shadow: 0 1px 1px #000;
  background: rgba(86, 199, 234,1);
background: -moz-linear-gradient(top, rgba(86, 199, 234,1) 0%, rgba(86, 199, 234,1) 2%, rgba(86, 199, 234,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(86, 199, 234,1)), color-stop(2%, rgba(86, 199, 234,1)), color-stop(100%, rgba(86, 199, 234,1)));
background: -webkit-linear-gradient(top, rgba(86, 199, 234,1) 0%, rgba(49,130,150,1) 2%, rgba(86, 199, 234,1) 100%);
background: -o-linear-gradient(top, rgba(86, 199, 234,1) 0%, rgba(86, 199, 234,1) 2%, rgba(86, 199, 234,1) 100%);
background: -ms-linear-gradient(top, rgba(86, 199, 234,1) 0%, rgba(86, 199, 234,1) 2%, rgba(86, 199, 234,1) 100%);
background: linear-gradient(to bottom, rgba(86, 199, 234,1) 0%, rgba(86, 199, 234,1) 2%, rgba(86, 199, 234,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#339999', endColorstr='#0068ad', GradientType=0 );


  /*padding:5px;*/
  /*border-radius:5px;*/
}
#cssmenu ul ul a:active {
  color: #4b84a3;

}